h1 {
  font-family: Roboto;
  text-align: center;
}

h2 {
  font-family: Roboto;
  padding: 10px;
}

p {
  font-family: Roboto;
  padding: 0 40px 0 30px;
}

img {
  display: block;
  width: 100px;
  margin: auto;
}
